<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration and Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Welcome to the Text-to-Speech Conversion App</h1>
        <nav>
            <a href="{{ url_for('login.login') }}">Login</a>
            <a href="{{ url_for('register.register') }}">Register</a>
        </nav>
    </header>
</body>
</html>
