<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
    <nav>
        {% if current_user.is_authenticated %}
            <a href="{{ url_for('download.download') }}">View MP3 files</a>
            <a href="{{ url_for('logout.logout') }}">Logout</a>
        {% else %}
            <a href="{{ url_for('login.login') }}">Login</a>
            <a href="{{ url_for('register.register') }}">Register</a>
        {% endif %}
    </nav>
</header>

    {% if current_user.is_authenticated %}
        <div>
            <h2>Text to Speech Conversion with Translation</h2>
            <form method="post">
                <textarea name="text_to_convert" rows="4" cols="50" placeholder="Enter text to convert to speech..."></textarea><br><br>
                <label for="source_language">Select Source Language:</label>
                <select name="source_language" id="source_language">
                    <option value="en">English</option>
                    <option value="pl">Polish</option>
                </select><br><br>
                <label for="target_language">Select Target Language:</label>
                <select name="target_language" id="target_language">
                    <option value="en">English</option>
                    <option value="pl">Polish</option>
                </select><br><br>
                <input type="submit" value="Convert and Save to S3">
            </form>
        </div>
    {% else %}
        <div>
            <p>You need to log in to access the dashboard content.</p>
        </div>
    {% endif %}
</body>
</html>
